.u-section-1 .u-sheet-1 {
  min-height: 1427px;
}

.u-section-1 .u-text-1 {
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 32px auto 0;
}

.u-section-1 .u-products-1 {
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 1028px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 330px;
  margin: 0;
}

.u-section-1 .u-group-1 {
  width: 273px;
  min-height: 118px;
  background-size: auto;
  height: auto;
  margin: -32px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  margin: -3px 1px 0;
}

.u-section-1 .u-icon-1 {
  width: 38px;
  height: 38px;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 43px;
  height: 43px;
  margin: -41px 58px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 54px;
  height: 54px;
  margin: -48px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 330px;
  margin: 0;
}

.u-section-1 .u-group-2 {
  width: 273px;
  min-height: 118px;
  background-size: auto;
  height: auto;
  margin: -32px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-2 {
  margin: 17px auto 0;
}

.u-section-1 .u-text-6 {
  margin: -3px 1px 0;
}

.u-section-1 .u-icon-4 {
  width: 38px;
  height: 38px;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 43px;
  height: 43px;
  margin: -41px 58px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 54px;
  height: 54px;
  margin: -48px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 330px;
  margin: 0;
}

.u-section-1 .u-group-3 {
  width: 273px;
  min-height: 118px;
  background-size: auto;
  height: auto;
  margin: -32px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-3 {
  margin: 17px auto 0;
}

.u-section-1 .u-text-8 {
  margin: -3px 1px 0;
}

.u-section-1 .u-icon-7 {
  width: 38px;
  height: 38px;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 43px;
  height: 43px;
  margin: -41px 58px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  width: 54px;
  height: 54px;
  margin: -48px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 330px;
  margin: 0;
}

.u-section-1 .u-group-4 {
  width: 273px;
  min-height: 118px;
  background-size: auto;
  height: auto;
  margin: -32px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-4 {
  margin: 17px auto 0;
}

.u-section-1 .u-text-10 {
  margin: -3px 1px 0;
}

.u-section-1 .u-icon-10 {
  width: 38px;
  height: 38px;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-11 {
  width: 43px;
  height: 43px;
  margin: -41px 58px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-12 {
  width: 54px;
  height: 54px;
  margin: -48px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 330px;
  margin: 0;
}

.u-section-1 .u-group-5 {
  width: 273px;
  min-height: 118px;
  background-size: auto;
  height: auto;
  margin: -32px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-5 {
  margin: 17px auto 0;
}

.u-section-1 .u-text-12 {
  margin: -3px 1px 0;
}

.u-section-1 .u-icon-13 {
  width: 38px;
  height: 38px;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  width: 43px;
  height: 43px;
  margin: -41px 58px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-15 {
  width: 54px;
  height: 54px;
  margin: -48px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 330px;
  margin: 0;
}

.u-section-1 .u-group-6 {
  width: 273px;
  min-height: 118px;
  background-size: auto;
  height: auto;
  margin: -32px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-1 .u-text-13 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-6 {
  margin: 17px auto 0;
}

.u-section-1 .u-text-14 {
  margin: -3px 1px 0;
}

.u-section-1 .u-icon-16 {
  width: 38px;
  height: 38px;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-17 {
  width: 43px;
  height: 43px;
  margin: -41px 58px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-18 {
  width: 54px;
  height: 54px;
  margin: -48px auto 0 48px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -160px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -42px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -49px;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -160px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -42px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -49px;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -160px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -42px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: -49px;
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: 328px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-10 {
    margin-top: -206px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 216px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: -62px;
  }

  .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-13 {
    margin-top: -160px;
  }

  .u-section-1 .u-icon-14 {
    margin-top: -42px;
  }

  .u-section-1 .u-icon-15 {
    margin-top: -49px;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-16 {
    margin-top: -160px;
  }

  .u-section-1 .u-icon-17 {
    margin-top: -42px;
  }

  .u-section-1 .u-icon-18 {
    margin-top: -49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-13 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-16 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -160px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -160px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -160px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: -180px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: -87px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-13 {
    margin-top: -160px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-16 {
    margin-top: -160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-10 {
    margin-top: -206px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: -62px;
  }
}